<hello name="{{ name }}"></hello>
<div class="items-detail-detail" >
<div class="items-detail-information3">
  <div class="btn-block" >
    <button class="btn btn-default" (click)="onDecrement()">
      <i class="material-icons">remove</i>
    </button>
  </div>
  <div class="input-group" >
    <input type="number" value="{{counter}}" class="form-control" style="text-align:center;" >
  </div>
  <div class="btn-block">
    <button class="btn btn-default" (click)="onIncrement()">
      <i class="material-icons">add</i>
    </button>
  </div>

</div>
